ALBERT_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxx
ALBERT_API_URL=https://albert.api.etalab.gouv.fr
ALBERT_COLLECTION_ID=312500
ALBERT_MODEL="deepseek-v4-flash-0731";
PATH_TO_NOTES="C:/Users/v16702/Downloads/notes"
